#header {
	background-image: url("http://img03.deviantart.net/56c1/i/2014/285/5/0/minecraft_stone_brick_simple_texture_wallpaper_by_elbarnzo-d82j2kd.jpg");
	color: #008FFF;
	text-align: center;
	font-variant: small-caps;
	font-family: sans-serif;
	font-size: 45px;
	border: solid 6px #000000;
}

#container {
	padding-bottom: 600px;
	background-image: url("http://wallpapercave.com/wp/emvfCXt.jpg");
}

#content {

}

#nav {
	text-align: center;
	background-image: url("http://img03.deviantart.net/56c1/i/2014/285/5/0/minecraft_stone_brick_simple_texture_wallpaper_by_elbarnzo-d82j2kd.jpg");
	width: 200px;
	height: 500px;
	border: #000000 solid 6px;
	float: left;
	padding-left: 10px;
	color: #0005FF;

}

#main {
	color: #FFFFFF;
}

#footer {
	background-image: url("http://wallpapercave.com/wp/E7lP3au.png");
	text-align: center;
	color: #FFFFFF;
	border: solid 6px #000000;
}
